[flake8]
max-line-length = 119
exclude = .git,__pycache__,venv,.pytest_cache,.venv
per-file-ignores =
    # разрешаем отсутствие докстрингов в тестах и неиспользуемые импорты в __init__
    tests/*: D100, D101, D102, F401
    src/__init__.py: F401
